# Ignore the following file types
*.aux
*.log
*.out
*.pdf
*.pdfsync
*.gz
*.bak
*.ai
*.tiff
*.nlo
*.rtf
*.mw
*.idx
*.thm
*.toc
*.synctex
*.synctex.gz*
*.ind
*.ilg
*.JPG



*.blg
*.bbl
gpath.tex
ATC.fzz
*.xlsx
*.csv
